@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Global page background */
html, body, #app {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
